<nav class="navbar navbar-expand-xl bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/altaSistema"
            >Alta en sistema</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Seguimiento de crédito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/control">Control Técnico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documentos">Control Documental</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/indicadores">Indicadores</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin">Admin Usuarios</a></li>
            <li>
              <a class="dropdown-item" href="/adminPrestatario"
                >Admin Prestatario</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/adminProyecto">Admin Proyectos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/adminControl"
                >Admin Control Técnico</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/adminProveedores"
                >Admin Proveedores</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/adminFacturas">Admin Facturas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
