<nav class="navbar navbar-expand-xl bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="imagenes/LogoTecNM.jpg" alt="LogoTecNM">
    </a>
    <h1 class="text-white">SOFOM</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/altaSistema">
            <i class="bi bi-person-plus-fill me-1"></i> Alta en sistema
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">
            <i class="bi bi-credit-card-2-front-fill me-1"></i> Seguimiento de crédito
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/control">
            <i class="bi bi-tools me-1"></i> Control Técnico
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documentos">
            <i class="bi bi-folder-fill me-1"></i> Control Documental
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/indicadores">
            <i class="bi bi-graph-up me-1"></i> Indicadores
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-gear-fill me-1"></i> Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin">Admin Usuarios</a></li>
            <li>
              <a class="dropdown-item" href="/adminPrestatario">Admin Prestatario</a>
            </li>
            <li>
              <a class="dropdown-item" href="/adminProyecto">Admin Proyectos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/adminControl">Admin Control Técnico</a>
            </li>
            <li>
              <a class="dropdown-item" href="/adminProveedores">Admin Proveedores</a>
            </li>
            <li>
              <a class="dropdown-item" href="/adminFacturas">Admin Facturas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
    </div>
  </div>
</nav>