<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitud de Credito</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/styles.css">
  
</head>
<body>
  <header>
    <div class="cajaheader">
      <img src="imagenes/LogoTecNM.jpg" alt="Logo TecNM" id="LogoTecNM" />
      <h2>SOFTNI
        <br>
        Datos Recibidos Correctamente
      </h2>
      <img src="imagenes/LogoCENIDET.jpg" alt="Logo CENIDET" id="LogoCENIDET" />
    </div>
  </header>
  <main class="mainDatosRecibidos">
    <img src="imagenes/Registro.png" alt="Logo Registro" id="LogoRegistro2" />
    <h1>Datos Recibidos Correctamente</h1>
    <h2>En breve te llegara un correo con información</h2>
    <a href="/login" class="btn btn-primary">Regresar</a>
  </main>
  <footer>
    <%- include('./layouts/footer'); %>
  </footer>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
crossorigin="anonymous"></script>
<script src="js/2-1-singupView.js"></script>
</body>
</html>
