<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Solicitud de Credito</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <header>
    <div class="cajaheader">
      <img src="imagenes/LogoTecNM.jpg" alt="Logo TecNM" id="LogoTecNM" />
      <div>
        <h2>SOFTNI-Alta en sistema y formalización</h2>
        <%- include('./layouts/navbar'); %>
      </div>
      <a href="/logout">Cerrar Sesión</a>
      <img src="imagenes/LogoCENIDET.jpg" alt="Logo CENIDET" id="LogoCENIDET" />
    </div>
  </header>
  <main class="mainAltaSistema">
    <div class="BuscadorSolicitud">
      <label for="Solicitud">N° de solicitud de crédito</label>
      <input type="number" id="Solicitud" />
      <button type="button" class="btn btn-primary">
        <i class="bi bi-search"></i>
    </div>
    <div class="caja1AltaSistema">
      <div class="DatosPrestatario">
        <h2>Datos del Prestatario</h2>
        <div class="registroDatos">
          <label for="name">Nombre:</label>
          <input type="text" name="name" placeholder="Nombre" id="name" />
          <label for="rfc">RFC:</label>
          <input type="text" name="rfc" placeholder="RFC4567890" id="rfc" />
          <label for="cp">Código Postal:</label>
          <input type="number" name="cp" placeholder="Codigo Postal" id="cp" />
          <label for="ciudad">Ciudad:</label>
          <input type="text" name="ciudad" placeholder="Ciudad" id="ciudad" />
          <label for="direccion">Dirección:</label>
          <input type="text" name="direccion" placeholder="Dirección" id="direccion" />
          <label for="direcion2">Cruzamientos:</label>
          <input type="text" name="direccion2" placeholder="Cruzamientos" id="direccion2" />
          <label for="telefono">Teléfono:</label>
          <input type="number" name="telefono" placeholder="Teléfono" id="telefono" />
        </div>
        <div class="registroDatos">
          <label for="email">Correo Electrónico:</label>
          <input type="email" name="email" placeholder="Correo@correo.com" id="email" />
        </div>
      </div>
      <div class="DocumentoPrestatario">
        <h2>Carga de documentos del prestatario</h2>
        <div class="registroDatos">
          <p>Resultado de evaluación de factibilidad de crédito:</p>
          <p id="resultado"> Aprobado/Denegado</p>
          <label for="identificacion">Identificación:</label>
          <input type="file" name="identificacion" id="identificacion" />
          <label for="contratoPrestatario">Contrato de prestatario firmado:</label>
          <input type="file" name="contratoPrestatario" id="contratoPrestatario" />
          <label for="comprobanteDomicilio">Comprobante de domicilio:</label>
          <input type="file" name="comprobanteDomicilio" id="comprobanteDomicilio" />
          <label for="comprobanteIngresos">Comprobante de ingresos:</label>
          <input type="file" name="comprobanteIngresos" id="comprobanteIngresos" />
          <button type="button" class="btn btn-primary" id="GuardarPrestatario">Guardar</button>
          <button type="button" class="btn btn-primary" id="LimpiarPrestatario">Limpiar</button>
          <p>Numero de control del prestatario:</p>
          <p id="NumPrestatario">1000</p>
        </div>
      </div>
    </div>
    <div class="DocumentoProyecto">
      <h2>Carga de información del Proyecto:</h2>
      <div class="BuscadorPrestatario">
        <label for="Solicitud">N° de solicitud de crédito</label>
        <input type="number" id="Solicitud" />
        <button type="button" class="btn btn-primary">
          <i class="bi bi-search"></i>
      </div>
      <div class="registroDatos infoProyecto">
        <label for="contratoPrestatario">Contrato de prestatario firmado:</label>
          <input type="text" name="contratoPrestatario" id="contratoPrestatario" />
          <label for="contratoPrestatario">Contrato de prestatario firmado:</label>
          <input type="text" name="contratoPrestatario" id="contratoPrestatario" />
          <label for="contratoPrestatario">Contrato de prestatario firmado:</label>
          <input type="file" name="contratoPrestatario" id="contratoPrestatario" />
          <label for="contratoPrestatario">Contrato de prestatario firmado:</label>
          <input type="text" name="contratoPrestatario" id="contratoPrestatario" />
          <p>Resultado de evaluación de factibilidad de crédito:</p>
          <p id="resultado"> Aprobado/Denegado</p>
          <label for="contratoPrestatario">Contrato de prestatario firmado:</label>
          <input type="text" name="contratoPrestatario" id="contratoPrestatario" />
          <button type="button" class="btn btn-primary" id="GuardarPrestatario">Guardar</button>
          <button type="button" class="btn btn-primary" id="LimpiarPrestatario">Limpiar</button>
          <p>Numero de control del prestatario:</p>
          <p id="NumPrestatario">1000</p>
      </div>

    </div>
  </main>
  <footer><%- include('./layouts/footer'); %></footer>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>