header{
    background-color: #00304E;
    color: #fff;
    height: 11vh;
}
header img{
  max-height: 10vh;
}
.cajaheader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/*Estilos footer*/
footer{
  background-color: #A9A9A9;
  height: 11vh;
  text-align: center;
}
footer p{
  margin-bottom: 0;
}

/* Estilos boton GUARDAR*/
.botonRegistrar{text-align: center;}
.btn-guardar{
    /*margin: 0 45%;*/
    background-color: #00304E;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    text-align: center;
  }
  .btn-guardar:hover,.btn-guardar:active{
    color:#fff;
    background-color:blue;
    border-color: black;
  }
  .btn-guardar:focus{
    box-shadow:0 0 0 3px rgba(121,82,179,0.25)
  }
  #tablaUsuarios{
    width: 100%;
  }
  /*Ocultando passwords*/
  .hidetext { -webkit-text-security: circle; }
  /*Estilos para administrador de usuarios*/
  .col-md-6{
    margin: 0 auto;
  }


  /*Estilos para LOGIN*/
  .mainLogin{
    background-image: url(../imagenes/Solicitud-Credito.png);
    width: 100%;
    height: 78vh;
    background-size: cover;
    background-color: #00304E;
  }
  .signin{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/*Estilos para Solicitud de credito*/
.mainSolicitudCredito{
  display: flex;
  height: 78vh;
}
#LogoRegistro{
  width: 50%;
  background-size: cover;
}
.formRegistro{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formRegistro input{
  width: 80%;
  height: 40px;
  margin: 10px 0;
  border: 0;
  border-radius: 5px;
  padding: 0 10px;
}
input{
  background-color: #D9D9D9;
}
.formRegistro button{
  background-color: #00304E;
  color: #fff;
}
.botonesFormRegistro{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.registroDatos{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 10% 0 0;
}
/*Estilos Datos Recibidos OK*/
.mainDatosRecibidos{
  height: 78vh;
  text-align: center;
}
#LogoRegistro2{
  width: 30%;
  height: 60%;
  background-size: cover;
}
/*Estilo para navbar*/
nav ul li{
  display: inline-block;
  margin: 0 10px;
}
nav ul li a{
  color: #00304E;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}
#aLogout{
  color: red;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

/*Pantalla alta en sistema*/
.mainAltaSistema{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.DatosPrestatario{
  width: 50%;
}
.DatosPrestatario .registroDatos input{
  text-align: center;
  margin: 10px 0;
  width: 100%;
}
.DocumentoPrestatario .registroDatos input{
  width: 80%;
  margin: 0 20px;
}
.DocumentoPrestatario .registroDatos button{
  width: 60%;
  place-items: center;
  margin: 0 20px;
}
.caja1AltaSistema{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.DocumentoProyecto{
  margin: auto;
}
/*Estilo responsive*/
@media screen and (max-width: 768px){
  .btn-guardar{
    margin: 0 30%;
  }
  header{
    height: 250px;
  }
  .cajaheader{
    flex-direction: column;
    justify-content: start;
  }
  .mainSolicitudCredito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #LogoRegistro{
    width: 100%;
  }
  .formRegistro{
    width: 100%;
  }
}