  /*Ocultando passwords*/
  .hidetext { -webkit-text-security: circle; }
  /*Estilos para administrador de usuarios*/
  .col-md-6{
    margin: 0 auto;
  }
  .botonRegistrar{text-align: center;}
  
  input{
    background-color: #D9D9D9;
  }