
/* Estilos boton GUARDAR*/
.botonRegistrar{text-align: center;}
.btn-guardar{
    /*margin: 0 45%;*/
    background-color: #00304E;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    text-align: center;
  }
  .btn-guardar:hover,.btn-guardar:active{
    color:#fff;
    background-color:blue;
    border-color: black;
  }
  .btn-guardar:focus{
    box-shadow:0 0 0 3px rgba(121,82,179,0.25)
  }
  #tablaUsuarios{
    width: 100%;
  }
  /*Ocultando passwords*/
  .hidetext { -webkit-text-security: circle; }
  /*Estilos para administrador de usuarios*/
  .col-md-6{
    margin: 0 auto;
  }


  /*Estilos para LOGIN*/
  .mainLogin{
    background-image: url(../imagenes/Solicitud-Credito.png);
    width: 100%;
    height: 78vh;
    background-size: cover;
    background-color: #00304E;
  }
  .signin{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/*Estilos para Solicitud de credito*/
.img-max-height-70vh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 70vh;
}

.formRegistro{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formRegistro input{
  width: 80%;
  height: 40px;
  margin: 10px 0;
  border: 0;
  border-radius: 5px;
  padding: 0 10px;
}
input{
  background-color: #D9D9D9;
}
.formRegistro button{
  background-color: #00304E;
  color: #fff;
}
.botonesFormRegistro{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.registroDatos{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 10% 0 0;
}
/*Estilos Datos Recibidos OK*/
.mainDatosRecibidos{
  height: 78vh;
  text-align: center;
}
#LogoRegistro2{
  width: 30%;
  height: 60%;
  background-size: cover;
}
/*Estilo para navbar*/
.nav-item{
  color: red;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}