/*Estilos para el header*/
header{
    background-color: #00304E;
    color: #fff;
}
.nav-link{
  color: #fff;
}
.nav-link:hover{
  color: yellow;
}
@media screen and (max-width: 768px) {
  .imgheader{
    display: none;
  }
}
/*Estilos footer*/
footer{
  background-color: #00304E;
  text-align: center;
}
.footerNav{
  display: flex;
  justify-content: center;
  /*Se usa el space betwen*/
  justify-content: space-around;
}
.footerNav a{
  text-decoration: none;
  color: #fff;
}

/*btn modal guardar*/
.btn-guardar{
  /*margin: 0 45%;*/
  background-color: blue;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  text-align: center;
}
.btn-guardar:hover,.btn-guardar:active{
  color:#fff;
  background-color:blue;
  border-color: black;
}
.btn-guardar:focus{
  box-shadow:0 0 0 3px rgba(121,82,179,0.25)
}
.navbar-nav{
text-align: center;
margin: 0 auto;
}