<nav>
    <ul>
        <li><a href="/admin">Admin Usuarios</a></li>
        <li><a href="/adminPrestatario">Admin Prestatario</a></li>
        <li><a href="/adminProyecto">Admin Proyectos</a></li>
        <li><a href="/adminControl">Admin Control Técnico</a></li>
        <li><a href="/adminProveedores">Admin Proveedores</a></li>
        <li><a href="/adminFacturas">Admin Facturas</a></li>
    </ul>
</nav>