<nav>
    <ul>
        <li><a href="/altaSistema">Alta en sistema</a></li>
        <li><a href="/home">Seguimiento de crédito</a></li>
        <li><a href="/control">Control Técnico</a></li>
        <li><a href="/documentos">Control Documental</a></li>
        <li><a href="/indicadores">Indicadores</a></li>
    </ul>
</nav>